[Desktop Entry]
Name=Tor Browser Launcher Settings
Name[cs]=Tor Browser Launcher nastavení
Name[da]=Indstillinger for Tor Browser-opstarter
Name[fr]=Tor Browser Launcher configurations
Name[hr]=Tor preglednik – postavke pokretanja
Name[hu]=Tor-böngésző indító beállításai
Name[nl]=Tor Browser Launcher Instellingen
Name[pt_BR]=Navegador Tor (Configurações do Lançador)
Name[ru]=Tor Browser (настройки запуска)
Name[sv]=Inställningar för Tor Browser Launcher
Name[be]=Налады запускальніка Tor Browser
Name[tr]=Tor Browser Başlatıcı Ayarları
GenericName=Tor Browser Launcher Settings
GenericName[da]=Indstillinger for Tor Browser-opstarter
GenericName[hr]=Tor preglednik – postavke pokretanja
GenericName[hu]=Tor-böngésző indító beállításai
GenericName[be]=Налады запускальніка Tor Browser
GenericName[tr]=Tor Browser Başlatıcı Ayarları
Comment=Tor Browser Launcher Settings
Comment[cs]=Tor Browser Launcher nastavení
Comment[da]=Indstillinger for Tor Browser-opstarter
Comment[fr]=Tor Browser Launcher configurations
Comment[hr]=Postavke za pokretanje Tor preglednika
Comment[hu]=Tor-böngésző indító beállításai
Comment[nl]=Tor Browser Launcher Instellingen
Comment[pt_BR]=Navegador Tor (Configurações do Lançador)
Comment[ru]=Tor Browser (настройки запуска)
Comment[sv]=Inställningar för Tor Browser Launcher
Comment[be]=Налады запускальніка Tor Browser
Comment[tr]=Tor Browser Başlatıcı Ayarları
Exec=torbrowser-launcher --settings
Terminal=false
Type=Application
Icon=torbrowser
Categories=Network;WebBrowser;
