[Desktop Entry]
Name=Tor Browser
Name[hu]=Tor-böngésző
Name[pt_BR]=Navegador Tor
GenericName=Tor browser
GenericName[hu]=Tor böngésző indító
Comment=Launch Tor Browser
Comment[hu]=Tor böngésző indító
Comment[pt_BR]=Navegador Tor
Exec=torbrowser-launcher %u
Terminal=false
Type=Application
Icon=torbrowser
Categories=Network;WebBrowser;
StartupWMClass=Tor Browser
