[Desktop Entry]
Name=Tor Browser
GenericName=Tor
Comment=Launch Tor Browser
Exec=torbrowser-launcher %u
Terminal=false
Type=Application
Icon=torbrowser80.xpm
Categories=Network;WebBrowser;
